    {% extends "layout.html" %}

    {% block title %}
        Index
    {% endblock %}

    {% block main %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Total Value</th>
                    <th>Current Price</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rows %}
                <tr>
                    <td>{{ r.symbol }}</td>
                    <td>{{ r.total|abs }}</td>
                    <td>{{ r.value | usd}}</td>
                    <td>{{ r.price | usd }}</td>
                </tr>
                {% endfor %}

                <tr>
                    <td>Cash</td>
                    <td></td>
                    <td>{{ cash | usd }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Grand Total</td>
                    <td></td>
                    <td>{{ grand_total | usd }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    {% endblock %}
